<h1>New Post</h1>

<div>
  <label for="title">Title:</label><br/>
  <div *ngIf="post">
    <input [(ngModel)]="post.title" type="text" id="title" name="title">
  </div>
</div>

<br/>

<div>
  <label for="text">Text:</label><br/>
  <textarea
    [(ngModel)]="post.text"
    id="text"
    name="text"
    style="width: 80%; height: 200px"
  ></textarea>
</div>

<br/>

<div>
  <label for="attachment" style="margin-top: 20px">Upload an attachment:</label><br />
  <input
    type="file"
    id="attachment"
    name="attachment"
    (change)="addAttachment($event)"
  />
</div>

<br />

<button (click)="upload()">Upload</button>
